  <main class="row">
     <div class="col-8">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc felis, feugiat vel lorem nec, ultricies suscipit metus. Suspendisse sollicitudin ut turpis eu efficitur. Vivamus pulvinar at nibh ut cursus. Cras ac viverra ipsum. Cras pulvinar, lacus at ullamcorper gravida, ante ex scelerisque felis, non mattis lorem arcu at velit. Vestibulum pretium efficitur dictum. Aenean commodo, dui at suscipit ullamcorper, lorem elit cursus tortor, quis tristique neque tellus nec felis. Pellentesque sit amet pellentesque metus, ac hendrerit lacus. Vivamus commodo ante eros, sed elementum nunc feugiat vitae. Nunc at pretium magna. Nullam faucibus justo orci, sit amet finibus mauris blandit et.<br><br>

Integer tincidunt orci non bibendum commodo. In iaculis lorem quis lorem sagittis accumsan. Praesent viverra mauris sit amet nulla ultricies luctus. Suspendisse a ex a leo scelerisque blandit scelerisque nec mi. Donec consectetur consequat volutpat. Nam molestie ipsum risus, vel fermentum quam luctus ut. Praesent luctus bibendum lorem, sodales fringilla diam rhoncus vitae. Quisque ac nisl urna. Nullam viverra ornare nisl id tempor. Duis quis ante non enim mollis vulputate in sed enim. Duis quis lacus elementum, accumsan diam vel, porta turpis. In lobortis ante eget hendrerit gravida.<br><br>

Aenean a lacus ac lacus volutpat porta. Mauris pharetra vel quam ut auctor. In vel ullamcorper orci. In sollicitudin vulputate lacus, sed aliquet dui pretium nec. Cras vitae vulputate velit, eu malesuada sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ornare lectus id libero gravida, a ultrices nisi hendrerit. Curabitur consectetur nisl ultricies mi porta pharetra. Proin id dui ac arcu tempus posuere. Donec lobortis, nulla id condimentum dignissim, erat ex ultricies lectus, sed interdum risus diam nec dolor. Vestibulum vitae magna lorem.          
        </div>
      </div>
     </div>
     <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5>Rastreamento</h5>
          <form action="/rastreio" method="GET">
            <input #id type="number" placeholder="Digite o número de rastreio" class="form-control mt-4" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button type="button" (click)="goToTracking(id.value)" class="btn btn-primary mt-3">Buscar</button>
          </form>
          </div>
      </div>
     </div>

  </main>
  
